@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
    min-height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
}

.quiz-container {
    font-family: 'Sansita Swashed', cursive;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 100%;
}

.quiz-header {
    padding: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}